html {
    overflow-y: scroll;
}

body {
    background: rgb(128, 83, 0);
    height: 2500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#direction {
    position: fixed;
    right: 100px;
    top: 10px;
    background: rgb(68, 128, 0);
    font-size: 20px;
}